<template>
  <div id="app" class="flex container h-screen w-full max-w-screen-xl">
    <!-- Side Nav -->
    <NavBar/>

    <!-- Tweet section -->
    <TweetSection/>

    <!-- Trending section -->
    <TrendingSection/>

  </div>
</template>

<script>

import NavBar from './components/NavBar.vue'
import TweetSection from './components/TweetSection.vue'
import TrendingSection from './components/TrendingSection.vue'

export default {
  name: 'App',
  components: {
    NavBar,
    TweetSection,
    TrendingSection
  },

}
</script>
